<style type="text/css">
<!--
BODY{
		scrollbar-3dlight-color:#FFFFFF;
	    scrollbar-arrow-color:000000;
	    scrollbar-base-color:000000;
	    scrollbar-darkshadow-color:AAD5FF;
	    scrollbar-face-color:AAD5FF;
	    scrollbar-highlight-color:FFFFFF;
	    scrollbar-shadow-color:FFFFFF;
}

TD
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
TH
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
A:link
{
    COLOR: #636563;
    TEXT-DECORATION: none;
}
A:visited
{
    COLOR: #636563;
    TEXT-DECORATION: none;
}
A:hover
{
    COLOR:#990033;
    TEXT-DECORATION:underline;
	
}
a.imgLink:link
{
	color:#ff9900;
}
a.imgLink:visited
{
	color:#ff9900;
}
a.imgLink:hover
{
	color:#ff9900;
}
P
{
    FONT-SIZE: 80%;
    FONT-FAMILY: arial, helvetica, sans-serif;
}
LI
{
    FONT-SIZE: 80%;
    FONT-FAMILY: arial, helvetica, sans-serif;
}
SMALL
{
    FONT-SIZE: 70%;
    FONT-FAMILY: arial, helvetica, sans-serif;
	LINE-HEIGHT: 95%;
}

.style2 {
	color: #000000;
	font-weight: bold;
	font-size:smaller;
}
.style3 {
	color:#6666FF;
	font-size:small;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.style4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
}
.style5{
	color:#6666FF;
	font-size:25px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.style6 {
	color: #636563;
}
.playlist_daohang{
	color:#51C7FF;
}

-->
</style>
